@model ISODocument.Models.TD_Document
@{
    ViewBag.Title = "Document Revise";
}
<script type="text/javascript">
    $.strPad = function (i, l, s) {
        var o = i.toString();
        if (!s) { s = '0'; }
        while (o.length < l) { o = s + o; }
        return o;
    };

    $(document).ready(function () {

        //Datepicker Setting
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            //showOtherMonths: true,
            //selectOtherMonths: true,
            //showButtonPanel: true,
            minDate: new Date()//set minDate is today
        });

        $('#sel2List').select2({
            multiple: true,
            placeholder: "Select Distribution Group",
            ajax: {
                url: '@Url.Action("Selecte2AllGroup", "Home")',
                dataType: 'json',
                data: function (term, page) {
                    return {
                        searchTerm: term
                    };
                },
                results: function (data, page) {
                    return { results: data };
                }
            },
            formatResult: function (item) { return item.text; },
            formatSelection: function (item) { return item.text; }
        });

        var obj = new Object();
        obj.doctype = '@Model.doc_type_short';
        obj.groupcode = '@Model.group_code';
        obj.runno = '@Model.run_no';
        obj.revno = '@Model.rev_no';
        obj.copy_runno = 0;

        $.get('@Url.Action("GetDistributionList", "Home")', obj, function (data) {
            $("#sel2List").select2("data", data);
        });

        $('#sel2hc').select2({
            placeholder: "Select Group",
            ajax: {
                url: '@Url.Action("Selecte2AllGroup", "Home")',
                dataType: 'json',
                data: function (term, page) {
                    return {
                        searchTerm: term
                    };
                },
                results: function (data, page) {
                    return { results: data };
                }
            },
            formatResult: function (item) { return item.text; },
            formatSelection: function (item) { return item.text; }
        });

        $.get("@Url.Action("ShowCopy","Home")", { docType: obj.doctype }, function (data) {
            if (data == "show") {
                $("#hc-contain").show();
                $.get("@Url.Action("GetCopyList","Home")", obj, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#tablehc tbody").append("<tr>" +
                         "<td>" + data[i].group_name + "</td>" +
                         "<td><input type='text' name='hcQty' class='input-mini' value='" + data[i].qty +
                         "' /><input type='hidden' name='hcGroup' value='" + data[i].group_id + "' /></td>" +
                         "<td><input type='text' name='hcNote' class='input-large' value='" + data[i].note + "' maxlength='50' readonly='true' /></td>" +
                         "<td><button type='button' class='delRow btn btn-danger'>X</button></td>" +
                         "</tr>");
                    }
                });
            } else {
                $("#hc-contain").hide();
            }
        });

        $("#txtQty").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                //$("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        $(document).on("click", ".delRow", function (event) {
            var tr = $(this).closest('tr');
            tr.remove();
            return false;
        });

        $('#btnAdd').click(function () {
            if ($("#txtQty").val() == "") {
                alert("Please fill in Q'ty !!!");
            } else if ($("#txtNote").val().length < 4) {
                alert("Please fill in Paper size !!!");
            } else {
                $("#tablehc tbody").append("<tr>" +
                    "<td>" + $("#sel2hc").select2("data").text + "</td>" +
                    "<td><input type='text' name='hcQty' class='input-mini' value='" + $("#txtQty").val() +
                    "' /><input type='hidden' name='hcGroup' value='" + $("#sel2hc").select2("val") + "' /></td>" +
                    "<td><input type='text' name='hcNote' class='input-large' value='" + $("#txtNote").val() + "' maxlength='50' readonly='true' /></td>" +
                    "<td><button type='button' class='delRow btn btn-danger'>X</button></td>" +
                    "</tr>");
                $("#txtQty").val("");
                $("#txtNote").val("A4=");
                return false;
            }
        });

        $('#btnClearFile').click(function () {
            $('#flAtt').val("");
        });

        $('#flAtt').on('change', function () {
            var exten = $(this).val().split('.').pop();
            if (exten != "pdf") {
                alert("Only pdf documents are allowed");
                $('#btnClearFile').click();
            }
        });

        $("#btnSubmit").click(function () {
            if (!$.validate({ form: 'formDoc' })) {
                return false;
            }

            if (confirm("Are you sure you want to submit the form?")) {
                document.forms["formDoc"].submit();
            } else {
                return false;
            }
        });
    });
</script>

<h2>@ViewBag.Title</h2>

<form id="formDoc" name="formDoc" class="form-horizontal" action="@Url.Action("CreateDoc", "Home")" method="post" enctype="multipart/form-data">
    <div class="control-group">
        <label class="control-label">Document Type</label>
        <div class="controls">
            <strong>@Html.DisplayFor(model => model.TM_DocType.doc_type_full)</strong>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="txtDocType">Document No.</label>
        <div class="controls">
            <strong>@Html.DisplayFor(model => model.doc_type_short)-@Html.DisplayFor(model => model.group_code)-@Model.run_no.ToString("0000")
            Rev. @String.Format("{0:00}", (Model.rev_no+1))</strong>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="txtRemark">Reference from Document No. & Rev. No.</label>
        <div class="controls">
            <input type="text" class="span11" id="txtRemark" name="txtRemark" value="@Model.reference" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="txtDocName">Document Name</label>
        <div class="controls">
            <input type="text" class="span11" id="txtDocName" name="txtDocName" data-validate="required" value="@Model.doc_name" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="dtEff">Effective Date</label>
        <div class="controls">
            <input type="text" class="datepicker" id="dtEff" name="dtEff" placeholder="dd-mm-yyyy" data-validate="required" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="flAtt">Attach File <span class="label label-important">PDF Only</span></label>
        <div class="controls">
            <input type="file" id="flAtt" name="flAtt" data-validate="file" accept="application/pdf" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="flSrc">Source File <span class="label label-info">Word</span><span class="label label-success">Excel</span></label>
        <div class="controls">
            <input type="file" id="flSrc" name="flSrc" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="txaRemark">Reason of Revise </label>
        <div class="controls">
            <textarea id="txaRemark" name="txaRemark" class="span11" rows="3" data-validate="required"></textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="sel2List">Distribution List by E-mail</label>
        <div class="controls">
            <input type="text" id="sel2List" name="sel2List" class="span11"/>
        </div>
    </div>
    <div class="control-group" id="hc-contain" style="display:none;">
        <label class="control-label" for="sel2hc">Distribution List by Hard-Copy</label>
        <div class="controls">
            <input type="text" id="sel2hc" name="sel2hc" class="span3" />*
            <input type="text" id="txtQty" name="txtQty" class="input-mini" placeholder="Total Q'ty" maxlength="3">*
            <input type="text" id="txtNote" name="txtNote" class="input-large" placeholder="Explain Paper size" value="A4=" maxlength="50">*
            <button type="button" id="btnAdd" name="btnAdd" class="btn btn-inverse">ADD</button>
            <table id="tablehc" class="table table-bordered table-condensed" style="width:600px;">
                <thead>
                    <tr>
                        <th style="width:220px">Group</th>
                        <th style="width:80px">Total Q'ty</th>
                        <th style="width:220px">Explain Paper size</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="hidden" id="selDocType" name="selDocType" value="@Model.doc_type_short" />
            <input type="hidden" id="selGroupCode" name="selGroupCode" value="@Model.group_code" />
            <input type="hidden" id="txtRunno" name="txtRunno" value="@Model.run_no" />
            <input type="hidden" id="txtRev" name="txtRev" value="@(Model.rev_no + 1)" />
            <input class="btn btn-primary" type="button" id="btnSubmit" value="Submit" />
        </div>
    </div>
</form>